.loaderCont {
    position: fixed;
    inset: 0;
    z-index: 1000;
    background-color: rgb(15, 15, 15);
    display: grid;
    place-content: center;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out,
      transform 0.5s ease-in-out;
     
  }
  #loader{
    text-transform: uppercase;
    font-size: clamp(1.2em,1vw,1.5em);
    display: flex;
    flex-direction: column;
  }
  .loaderCont.Hidden-loader {
    opacity: 0;
    visibility: 0;
    transform: translate3d(0, 100vh, 0);
    pointer-events: none;
  }
  .main {
    display: none;
    pointer-events: none;
  }
  .main.Visble-main {
    opacity: 1;
    pointer-events: auto;
    display: flex;
  }
  #dots{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: rgb(128, 139, 115);
    border-radius: 50%;
    animation: bounce 1.4s infinite ease-in-out both;
  }

  /* Adding delays to stagger the bounce animations */
  .dot.dot1 {
    animation-delay: -0.32s;
  }
  .dot.dot2 {
    animation-delay: -0.16s;
  }

  /* Keyframes for bounce animation */
  @keyframes bounce {
    0%,
    80%,
    100% {
      transform: scale(0);
    }
    40% {
      transform: scale(1);
    }
  }